* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    padding: 3rem;
    position: relative;
    margin: auto;
    color: blue;
    font-family: "Alumni Sans", serif;
    font-size: 1.5rem;

}

#folder-handle {
   
    max-height: 40px;
}

section {
    
    padding: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#files,
#files-2,
#files-3,
#files-4,
#files-5 {
    margin-left: 2rem;
    height: 8rem;
}
.circle {
    width: 50px;
    height: 50px;
     
    background: green;
    z-index: 1;
    border-radius: 50%;
}

.color-code {
   
    position: absolute;
    top: 20rem;
    right: 4rem;
}



ul {
    list-style: none;
}

.tree span {

    border-bottom: 1px solid; /*Css Magic. not really just adds border */
    border-left: 1px solid; /*Css Magic*/
    height: 1.5rem; /*Variable height of File tree*/
    width: 3rem; /*Variable Length of File tree*/
    display: inline-block; /*Css Magic*/
    margin-bottom: 0.3rem;/*Moves File Structure down*/
    margin-left: 2rem; /*Pushes File Structure over to the left*/
}
li {
    cursor: pointer;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
#root-handle {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#c-handle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.explanation {
   
    display: flex;
    align-items: center;
    position: fixed;
    top: 30rem;
    left: 10rem;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 2rem;

    
}

a {
    text-decoration: none;
}
@media (min-width: 320px) {

    .color-code {
   
        
        top: 1rem;
        right: 4rem;
    }
    .f {
        
        display: flex;

        min-width: 20rem;
    }
}
@media (min-width: 768px) {}
@media (min-width: 1024px) {}
@media (min-width: 1220px) {}
@media (min-width: 1440px) {}